@model EmployeeManagement.Models.LeaveApplication
@{
    ViewData["Title"] = "Reject Leave";
}
<form asp-action="RejectLeave" method="post">
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Reject Leave Applications Details</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table stripted">
            <thead>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Employee)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Employee.Fullname)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NoOfDays)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NoOfDays)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.StartDate)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.EndDate)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.Duration.Description)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LeaveType)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.LeaveType.Name)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Attachment)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.Attachment)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.Status.Id)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ApprovedByID)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.ApprovedByID)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ApprovedOn)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.ApprovedOn)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CreateByID)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.CreateByID)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CreateOn)
                    </th>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.CreateOn)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ModifiedByID)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(model => model.ModifiedByID)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-3">
                        @Html.DisplayNameFor(Model =>Model.CModifiedOn)
                    </th>
                    <th class="col-sm-3">
                        @Html.DisplayFor(Model =>Model.CModifiedOn)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div>
    </div>
    </div class="row">
        <div class="col-md-12">
            <label asp-for="ApprovalNotes" class="control-label"></label>
            <textarea class="form-control" asp-for="ApprovalNotes"></textarea>
            <div class="card-footer">
                <div class="clearfix">
                    <a asp-action="Index" class="btn btn-danger push-left">Back to List</a>
                        <input type="submit" value="Reject leave Application" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
</form>

