@model IEnumerable<EmployeeManagement.Models.ApprovalsUserMatrix>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary" class="fa fa-plus">Add New Matrix</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Approval User Matrix List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DocumentType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorklowUsergroup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateByID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedByID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CModifiedOn)
                    </th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentType.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorklowUsergroup.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateByID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateOn)
                            </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"> <i class="fa fa-eye"></i> View</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> <i class="fa fa-trash"></i>Delete</a>
                        </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
